.clearfix:before,
.clearfix:after {
  content: "";

  display: table;
}

.clearfix:after {
  clear: both;
}

.content-wrapper:before,
.content-wrapper:after {
  content: "";

  display: table;
}

.content-wrapper:after {
  clear: both;
}

.content-wrapper > *:first-child {
  margin-top: 0 !important;
}

.content-wrapper > *:last-child {
  margin-bottom: 0 !important;
}

.disabled {
  cursor: default;
  opacity: 0.5;

  pointer-events: none;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-none {
  float: none;
}

.hidden {
  display: none !important;
}

.hyphenate {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.invisible {
  visibility: hidden;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.caps {
  font-variant: small-caps;
}

.visuallyhidden {
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;

  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;

  white-space: inherit;

  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
}
